@model ViewModels.BlogListViewModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/FrontEnd/_FrontEndLayout.cshtml";
}

<section class="breadcrumb-header" id="page" style="background-image: url(assets/images/header/07_header.jpg)">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="banner">
					<h1>مقالات</h1>
					<ul>
						<li><a href="/">خانه</a></li>
						<li><i class="fas fa-angle-right"></i></li>
						<li>مقالات</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="bolg py-100">
	<div class="container">
	 
		<div class="row">
			@foreach (var blog in Model.Blogs)
			{
				
			<div class="col-md-6 col-lg-4">
				<div class="blog-item">
					<div class="img-box">
						<a href="/blog/@blog.UrlParam" class="open-post">
							<img class="img-fluid" src="@blog.ImageUrl" alt="@blog.Title">
						</a>
						<ul>
							@if (blog.ServiceId != null)
							{
								<li><a href="#">@blog.Service.Title</a></li>
							}
						</ul>
					</div>
					<div class="text-box">
						<span class="blog-date">@blog.CreationDateStr</span>
						<a href="/blog/@blog.UrlParam" class="title-blog">
							<h5>@blog.Title</h5>
						</a>
						<p>@blog.Summery</p>
						<a href="/blog/@blog.UrlParam" class="link">Read More</a>
					</div>
				</div>
			</div>

			}

	 
		</div>
	</div>
</section>